.menu {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    list-style-type: none;
    color: white;
    gap: 35px;
    font-size: 100%;
    margin-left: 180px;
    /* margin-right: 70px; */
    
}


 .menu li:hover > .submenu {
     display: block;
 
 }

.submenu{
    margin-top: 1px; 
    display: none; 
    position: absolute;
   
}

.submenu a{
    width: 210px;
    height: 45px;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 10px;
    background-color: #222222;
    color: white;   
}

.submenu a:hover {
    border-left: 10px solid #F09167;
}
/* barrinha laranja */

.menu2 {
   
    display: flex;
    gap: 30px;
    text-decoration: none;
    list-style: none;
    margin-left: 150px;
}

.menu2 a span {
    font-size: 10px ;
   }
   /* setinha */