* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:url(img/imagem\ de\ funso\ \(3\).jpg);
    background-repeat: repeat-x;
    background-size: 110%;
}



header {
    background-color: #222222;
    height: 70px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 10vw;
   justify-content: flex;
   
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo img{
    width: 65px;
    height: 50px;
}

h2 {
    font-family: sans-serif;
    color: white;
    width: 450px;
    height: 200px;
    text-align: left;
    position: absolute;
    left: 95px;
    top: 400px;
    font-size: 45px; 
  
}



.bt1 {
    width: 200px;
    height: 45px;
    background:none;
    font-size: 30px bold;
    background-color: #6A985A;
    color: white;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    top: 35px;
    
}


